body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #E1E5EE;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}



#resources-container {
display: flex;
background-color: #E1E5EE;
color: #fff;
list-style-type: none;
margin: 0;
padding: 0;
margin-right: 20px;
}

.resource-box {
display: flex;
flex-direction: column; 
align-items: center;
cursor: pointer;
background-color: #2A324B;
color: #fff;
font-size: 16px;
list-style-type: none;
padding: 12px;
margin: 8px;
text-decoration: none;
width: 300px;
font-size: 14px;
}

.resource-box.active {
background-color: #fff;
color: #2A324B;
}

.resource-info {
background-color: #fff;
color: #2A324B;
padding: 122px;
margin: -7.5px;

}