body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #E1E5EE;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    max-width: 100%;
}

#info-container {
    max-width: 100%;
    margin-left: -4px;
    width: 85.3rem;
    margin: -0.1rem;
}

#resources-container {
    display: flex;
    background-color: #E1E5EE;
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 85.3rem;
}

.resource-box {
    display: flex;
    box-sizing: border-box;
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
    background-color: #2A324B;
    color: #fff;
    font-size: 16px;
    list-style-type: none;
    padding: 12px;
    margin: 8px;
    text-decoration: none;
    font-size: 14px;
    width: 16rem;
}

.resource-box:nth-child(odd) {
    width: 13rem;
}


.html-box {
    width: 235px; 
}
 

.sanity-box {
    width: 406px; 
}

.resource-box.active {
    background-color: #fff;
    color: #2A324B;
}

.resource-info {
    background-color: #fff;
    color: #2A324B;
    padding: 88px;
    margin: -7.5px;
    max-width: 100%;
}
